<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="@Url.Content("~/favicon.ico")?v=2" />
    <title>KeepItSafer</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav>
       <a asp-area="" asp-controller="Home" asp-action="Index"><img src="@Url.Content("~/images/keepitsafer.png")" width="32" height="32" alt="KeepItSafer" /><h1>KeepItSafer</h1></a>
        <span class="actions">
        @if (User != null && User.Identity.IsAuthenticated) {
            <text>
            <a href="@Url.Content("~/signout")">Logout</a>
            </text>
        } else {
            <a href="@Url.Content("~/signin")">Login</a>
        }
        </span>
    </nav>
    
    @RenderBody()
       
    <footer>
        <p>&copy; @DateTime.UtcNow.Year ~ KeepItSafer</p>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/simpleStorage/simpleStorage.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="~/lib/simpleStorage/simpleStorage.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
