@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <p>@ViewData["Users"]</p>
    <p>
        @if (User?.Identity?.IsAuthenticated ?? false) {
            <strong>Welcome, @ViewData["UserName"]</strong>

            <p>
                @foreach (var claim in Context.User.Claims) {
                    <div>@claim.Type: <b>@claim.Value</b></div>
                }
            </p>
            
            <a class="btn btn-lg btn-danger" href="/signout?returnUrl=%2F">Sign out</a>
        }
        else
        {
            <strong>Welcome, anonymous</strong>
            <a class="btn btn-lg btn-success" href="/signin?returnUrl=%2F">Sign in</a>
        }
    </p>
    <p>@ViewData["dicts"]</p>
    <p>@ViewData["hashed"]</p>
    <p>@ViewData["decrypt"]</p>
</div>
